body {
  background-color: darkgrey;
  font-family: Arial;
}

.calculator {
  background-color: rgb(8, 59, 59);
  border: solid 3px black;
  width: 255px;
  padding: 10px 10px 10px 10px;
  align-items: center;
}

.calc-field {
  margin-top: 10px;
}

.resultArea {
  background-color: white;
  font-size: 40px;
  font-weight: bold;
  border: solid 4px rgb(108, 103, 103);
  width: 250px;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  box-sizing: border-box;
}


.button-num {
  background-color: rgb(20, 113, 144);
  color: white;
  border: solid 3px rgb(255, 255, 255);
  border-radius: 50px;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  width: 50px;
  height: 50px;

  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.button-op {
  background-color: rgb(20, 113, 144);
  color: white;
  border: solid 3px rgb(255, 255, 255);
  width: 75px;
  padding: 10px;
  margin: 5px 17px 5px 0px;
  font-size: 20px;
  font-weight: bold;
  align-items: stretch;
  cursor: pointer;
}

.button-op2 {
  background-color: rgb(24, 142, 181);
  color: white;
  border: solid 3px rgb(255, 255, 255);
  width: 50px;
  padding: 10px;
  margin: 5px 5px 5px 5px;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  align-items: stretch;
  cursor: pointer;
}

.button-clear {
  background-color: rgb(161, 7, 7);
}
.button-del {
  background-color: darkgoldenrod;
}

.button-result {
  background-color: darkgreen;
}